.Message {

  // Positionning
  margin-bottom: 1em;

  // Shape
  width: 400px;
  align-self: start;

  @include for-phone {
    max-width: 340px;
  }

  &__from-logged-user {
    align-self: end;
    text-align: end;

    .Message__body-container {
      background-color: $primaryColor;
      color: $white;
      display: inline-block;

      @include for-phone {
        max-width:  70vw;
        padding: 0 1em;
      }
    }
  }

  &__contact {
    margin: 0.25em 0.25em 0 2em;
    color: $textColorLight;
  }

  &__body-container {

    // Positionning
    margin-top: 0.5em;

    // Shape
    border-radius: 60px;

    // Content
    background-color: $secondaryColor;
    padding: 0.5em 1em 0.5em 2em;

    @include for-phone {
      padding: 0.1em 1em;
    }
  }
}