.UserCard {
  // Positionning
  margin: 1em;

  // Shape
  width: 160px;
  border: $grayBorder;
  border-radius: $smallRoundedBorderSize;
  padding: 1em;

  // Content
  display: flex;
  flex-direction: column;
  align-items: center;

  &__login {

    // Shape
    border: none;
    outline: none;
    border-radius: 4px;
    width: 160px;
    height: 40px;

    // Content
    background-color: $primaryColor;
    padding: 0.5em 1em;
    color: $white;

    // Behavior
    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: $primaryColorLight;
    }
  }
}