.UserCard {
  // Positionning
  margin: 1em;

  // Shape
  width: 160px;
  border: $grayBorder;
  border-radius: $smallRoundedBorderSize;
  padding: 1em;

  // Content
  display: flex;
  flex-direction: column;
  align-items: center;
}