.Users {
  display: flex;

  @include for-phone {
    flex-direction: column;
  }

  &--no-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.Users__header {
  text-align: center;
}